@tailwind base;
@tailwind components;
@tailwind utilities;


.input-base {
  @apply 
    text-black text-sm
    border outline-none
    transition duration-500 ease-in-out 
}

.input-base:not(.-small) {
  @apply p-3
}

.input-base:not(.-error) {
  @apply
  border-gray-300  
    focus:border-primary focus:ring focus:ring-offset-0 focus:ring-primary-light focus:ring-opacity-50
}

.input-base.-error {
  @apply border-red-400 placeholder-red-400 focus:ring-red-500 focus:border-red-500 focus:ring-opacity-50
}

.button-base {
  @apply text-center text-sm font-semibold transition-bg duration-500 hover:opacity-80
}

.link-base {
  @apply border-b transition ease-in duration-200 hover:text-primary-dark
}
