@tailwind base;
@tailwind components;
@tailwind utilities;

.input-base {
  @apply text-black text-sm
    border outline-none
    transition duration-500 ease-in-out;
}

.input-base:not(.-small) {
  @apply p-3;
}

.input-base.-small {
  @apply p-1;
}

.input-base:not(.-error) {
  @apply border-gray-300
    focus:border-primary focus:ring focus:ring-offset-0 focus:ring-primary-light focus:ring-opacity-50;
}

.input-base.-error {
  @apply border-red-400 placeholder-red-400 focus:ring-red-500 focus:border-red-500 focus:ring-opacity-50;
}

.button-base {
  @apply text-center text-sm font-semibold transition-bg duration-500 hover:opacity-80 focus:outline-none;
}

.link-base {
  @apply border-b transition ease-in duration-200 hover:text-primary-dark;
}

.card-image-container {
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider-line-cart {
  border: 1px solid #f8f8f8;
  height: 0.1px;
}

.totalcard {
  background: #fbfbfb;
}

.button-checkout {
  cursor: pointer;
  background: #e2242d;
  border-radius: 4px;
}
